@model projecttour.Models.tour_khachhang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.kh_id)
    <div class="card w-100">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 text-danger text-uppercase">
                    <strong>Cập nhật khách hàng</strong>
                </div>

                <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-sm btn-success" data-toggle="tooltip" title="Lưu">
                        <span class="fa fa-edit"></span>
                    </button>
                    <a href="@Url.Action("Index")" class="btn btn-sm btn-danger" data-toggle="tooltip" title="Thoát">
                        <span class="fa fa-reply"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-block p-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tên khách hàng</label>
                        @Html.EditorFor(model => model.kh_ten, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.kh_ten, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        @Html.EditorFor(model => model.kh_sdt, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.kh_sdt, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Ngày sinh</label>
                        @Html.EditorFor(model => model.kh_ngaysinh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.kh_ngaysinh, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        @Html.EditorFor(model => model.kh_email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.kh_email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>CMND</label>
                        @Html.EditorFor(model => model.kh_cmnd, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.kh_cmnd, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>


}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
