@model projecttour.Models.tour 

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>tour</h4>
    <hr />
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.tour_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tour_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tour_id, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-2">Name</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tour_ten, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tour_ten, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Description</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tour_mota, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tour_mota, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Type</label>
                    <div class="col-md-10">
                        @Html.DropDownList("loai_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.loai_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Block</label>
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.block, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownList("block", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.block, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
           
            <div class="col-md-6">
             
                <h4>List Places</h4>

                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="name">Lalalalaiaia</span>
                        <label class="btn btn-default btn-xs pull-right remove-item">
                            <span class="glyphicon glyphicon-remove"></span>
                        </label>
                    </li>
                    <li class="list-group-item">
                        <span class="name">Panananannaeue</span>
                        <label class="btn btn-default btn-xs pull-right remove-item">
                            <span class="glyphicon glyphicon-remove"></span>
                        </label>
                    </li>
                </ul>

                <select class="form-control" id="dropdowndiadiem" name="diadiem">
                    <option value="0" selected>Select a place</option>
                    @foreach (var item in ViewBag.diadiem)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <input id="addiadiem" type="button" value="Add" />

            </div>
        </div>

    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input  type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(() => {

    });
</script>
}
