@model projecttour.Models.tour

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tour_ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tour_ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tour_mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tour_mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tour_gia.gia_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tour_gia.gia_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tour_loai.loai_ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tour_loai.loai_ten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tour_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
