@model IEnumerable<projecttour.Models.tour>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Raw(TempData["msg"])
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            #
            @*@Html.DisplayNameFor(model => model.tour_ten)*@
        </th>
        <th>
            Name
            @*@Html.DisplayNameFor(model => model.tour_ten)*@
        </th>
        <th>
            Description
            @* @Html.DisplayNameFor(model => model.tour_mota)*@
        </th>
        <th>
            Status
            @*@Html.DisplayNameFor(model => model.block)*@
        </th>
        <th>
            Type
            @*@Html.DisplayNameFor(model => model.tour_loai.loai_ten)*@
        </th>
        <th>
            Cost
        </th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tour_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tour_ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tour_mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.block)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tour_loai.loai_ten)
            </td>
            <td><a href="/tour_gia?tour=@item.tour_id">View</a></td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.tour_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.tour_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.tour_id })
            </td>
        </tr>
    }

</table>
