@model IEnumerable<projecttour.Models.tour_loaichiphii>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cp_ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cp_mota)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cp_ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cp_mota)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cp_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.cp_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cp_id })
        </td>
    </tr>
}

</table>
