@model projecttour.Models.tour_chiphi

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tour_chiphi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.chiphi_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chiphi_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chiphi_chitiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chiphi_chitiet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loaichiphi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loaichiphi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hoadon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoadon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noidung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noidung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaylap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaylap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tour_doan.doan_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tour_doan.doan_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
