@model projecttour.Models.tour_nhanvien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tour_nhanvien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nv_ten)
        </dd>

        <dt>
         SĐT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nv_sdt)
        </dd>

        <dt>
           Ngày sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nv_ngaysinh)
        </dd>

        <dt>
         Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nv_email)
        </dd>

        <dt>
           Nhiệm vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nv_nhiemvu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.nv_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
