@model IEnumerable<projecttour.Models.tour_nhanvien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card w-100">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6 text-danger text-uppercase">
                <strong>Danh sách nhân viên</strong>
            </div>

            <div class="col-md-6 text-right">
                <a href="@Url.Action("Create")" class="btn btn-sm btn-success" data-toggle="tooltip" title="Thêm mới">
                    <span class="fa fa-plus-square"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="card-block p-3">
        <table class="table table-bordered table-hover table-striped w-100">
            <tr>
                <th>
                    Họ tên
                </th>
                <th>
                    SĐT
                </th>
                <th>
                    Ngày sinh
                </th>
                <th>
                    Email
                </th>
                <th>
                    Nhiệm vụ
                </th>
                <th class="text-center">
                    Chức năng
                </th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nv_ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nv_sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nv_ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nv_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nv_nhiemvu)
            </td>
            <td class="text-center">
                <a href="@Url.Action("Edit",new { id = item.nv_id })" class="btn btn-sm btn-success" data-toggle="tooltip" title="Sửa">
                    <span class="fa fa-cog"></span>
                </a>
                <a href="@Url.Action("Delete",new { id = item.nv_id })" class="btn btn-sm btn-danger" data-toggle="tooltip" title="Xóa">
                    <span class="fa fa-trash"></span>
                </a>
            </td>
        </tr>
            }

        </table>
    </div>
</div>




