@model projecttour.Models.tour_doan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tour_doan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.doan_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doan_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doan_ngaydi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doan_ngaydi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doan_ngayve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doan_ngayve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doan_chitietchuongtrinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doan_chitietchuongtrinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tour.tour_ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tour.tour_ten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.doan_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
