@model projecttour.Models.tour_doan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@foreach (var e in ViewBag.listchiphicurrent)
{
    <p>@e.Value</p>
    <p>@e.Text</p>
}
<div class="container">
    <h4>tour_doan</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.doan_name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.doan_name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.doan_ngaydi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.doan_ngaydi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.doan_ngayve)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.doan_ngayve)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.doan_chitietchuongtrinh)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.doan_chitietchuongtrinh)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tour.tour_ten)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tour.tour_ten)
                </dd>

            </dl>
            <h4>Staffs</h4>
            <p>Current List</p>
            <ul>
                @foreach (var e in ViewBag.listStaffCurrent)
                {
                    @*<p>@e.Value</p>
            <p>@e.Text</p>*@
                    <li>@e.Text</li>
                }
            </ul>
            <p>----</p>
            <ul id="liststaffs">
                @*<li>123</li>*@
                
            </ul>
            <select class="form-control" id="dropdownstaffs" name="diadiem">
                <option value="0" selected>Select a staff</option>
                @foreach (var item in ViewBag.staffs)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            <input type="button" value="Add staff" id="addstaff" />
        </div>
        <div class="col-md-4">
            <h4>Customers</h4>
            <p>Current List</p>

            <ul>
                @foreach (var e in ViewBag.listcustomerCurrent)
                {
                    @*<p>@e.Value</p>
            <p>@e.Text</p>*@
                    <li>@e.Text</li>
                }
            </ul>
            <p>----</p>
            <ul id="listcustomers">
                @*<li>123</li>*@
                
            </ul>
            <select class="form-control" id="dropdowncustomers" name="diadiem">
                <option value="0" selected>Select a customer</option>
                @foreach (var item in ViewBag.customers)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            <input type="button" value="Add customer" id="addcustomer" />
        </div>
        <div class="col-md-4">
            <h4>Loại chi phí</h4>
            <p>Current List</p>
            <ul>
                @*<li>123</li>*@
                @foreach (var e in ViewBag.listchiphicurrent)
                {
                    @*<p>@e.Value</p>
                    <p>@e.Text</p>*@
                    <li>@e.Text</li>
                }
            </ul>
            <p>----</p>
            <ul id="listloaichiphis">
                <li>123</li>
            </ul>
            <select class="form-control" id="dropdownloaichiphis" name="diadiem">
                <option value="0" selected>Select a loaichiphi</option>
                @foreach (var item in ViewBag.loaichiphis)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            <input type="button" value="Add loaichiphi" id="addloaichiphi" />
        </div>
    </div>
</div>
<div>


</div>
<input type="submit" value="Update three upon" id="submitdoan" />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.doan_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts {
    @Scripts.Render("~/Scripts/custom.js")
}