
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a href="@Url.Action("Index", "tours")" class="nav-link">Tour</a>
                <a href="@Url.Action("Index", "tour_nguoidi")" class="nav-link">Thống kê tour</a>
                <a href="@Url.Action("Index", "tour_doan")" class="nav-link">Đoàn khách</a>
                <a href="@Url.Action("Index", "tour_gia")" class="nav-link">Giá tour</a>
                <a href="@Url.Action("Index", "tour_nhanvien")" class="nav-link">Nhân viên</a>
                <a href="@Url.Action("Index", "tour_khachhang")" class="nav-link">Khách hàng</a>
                <a href="@Url.Action("Index", "tour_diadiem")" class="nav-link">Địa điểm</a>
                <a href="@Url.Action("Index", "tour_loai")" class="nav-link">Loại hình du lịch</a>
                <a href="@Url.Action("Index", "tour_loaichiphii") " class="nav-link">Loại chi phí</a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Hello world</div>
        </div>
    </nav>
</div>
