@model projecttour.Models.tour_gia

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card w-100">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 text-danger text-uppercase">
                    <strong>Thêm giá tour</strong>
                </div>

                <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-sm btn-success" data-toggle="tooltip" title="Thêm">
                        <span class="fa fa-plus-square"></span>
                    </button>
                    <a href="@Url.Action("Index")" class="btn btn-sm btn-danger" data-toggle="tooltip" title="Thoát">
                        <span class="fa fa-reply"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-block p-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tên Tour</label>
                        <select class="form-control" id="block" name="tour_id">
                            @{
                                foreach (var item in ViewBag.tours)
                                {
                                    <option value="@item.tour_id">@item.tour_ten</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Số tiền</label>
                        <input class="form-control text-box single-line" data-val="true" data-val-number="The field gia_sotien must be a number." id="gia_sotien" name="gia_sotien" type="text" value="" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="gia_sotien" data-valmsg-replace="true"></span>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Từ ngày</label>
                        <input class="form-control text-box single-line" data-val="true" data-val-date="The field gia_tungay must be a date." id="gia_tungay" name="gia_tungay" type="date" value="" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="gia_tungay" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label>Đến ngày</label>
                        <input class="form-control text-box single-line" data-val="true" data-val-date="The field gia_denngay must be a date." id="gia_denngay" name="gia_denngay" type="date" value="" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="gia_denngay" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
