@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card w-100">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6 text-danger text-uppercase">
                <strong>Danh sách Giá Tour</strong>
            </div>

            <div class="col-md-6 text-right">
                <a href="/tour_gia/Create" class="btn btn-sm btn-success" data-toggle="tooltip" title="Thêm mới">
                    <span class="fa fa-plus-square"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="card-block p-3">
        @using (Html.BeginForm("Find", "tour_gia", FormMethod.Post))
        {
            <div class="form-inline">
                @* <p>@ViewBag.choose</p>*@
                <label class="mr-3">Chọn tour: </label>
                <select class="form-control mr-3" name="selectedValue">
                    @{
                        if (ViewBag.choose == 0)
                        {
                            <option selected value="0">Select tour</option>

                        }
                        else
                        {
                            <option value="0">Select tour</option>
                        }
                        foreach (var item in ViewBag.tours)
                        {
                            if (ViewBag.choose == item.tour_id)
                            {
                                <option selected value="@item.tour_id">@item.tour_ten</option>
                            }
                            else
                            {
                                <option value="@item.tour_id">@item.tour_ten</option>
                            }
                        }
                    }
                </select>
                <button class="btn btn-sm btn-success mr-3">Xem</button>
            </div>
        }
    <table class="table table-bordered table-hover table-striped w-100 mt-3">
        <tr>
            <th>
                STT
                @*@Html.DisplayNameFor(model => model.tour_ten)*@
            </th>
            <th>
                Cost
                @*@Html.DisplayNameFor(model => model.tour_ten)*@
            </th>
            <th>
                From
                @* @Html.DisplayNameFor(model => model.tour_mota)*@
            </th>
            <th>
                To
                @*@Html.DisplayNameFor(model => model.block)*@
            </th>
            <th>
                Chức năng
            </th>
        </tr>
        @{ int i = 1;}
        @foreach (var item in ViewBag.Costs)
        {
            <tr>
                <td>@i</td>
                <td>
                    @item.gia_sotien
                </td>
                <td>
                    @item.gia_tungay.ToString(string.Format("dd/MM/yyyy"))
                </td>
                <td>
                   @item.gia_denngay.ToString(string.Format("dd/MM/yyyy"))
                </td>
                <td>
                    <a href="/tour_gia/Edit/@item.gia_id" class="btn btn-sm btn-success" data-toggle="tooltip" title="Sửa"><span class="fa fa-cog"></span></a>
                </td>
                @{ i++;}
            </tr>
        }

    </table>
    </div>
</div>


