@model IEnumerable<projecttour.Controllers.tour_nguoidiController.thongke>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Tour
        </th>
        <th>
            Tổng số đoàn đi
        </th>
        <th>
            Tổng doanh thu
        </th>
        <th>
            Tổng chi phí
        </th>
        <th>
            Lãi
        </th>
        <th></th>
    </tr>

    @{
        int i = 1;
        foreach (var item in Model)
        {
            int z = item.tongdanhthu - item.tongchiphi;
        <tr>
            <td>
                @i
            </td>
            <td>
                @item.tour
            </td>
            <td>
                @item.tongdoandi
            </td>
            <td>
                @item.tongdanhthu
            </td>
            <td>
                @item.tongchiphi
            </td>
            <td>
                @z
            </td>
            <td>
                @Html.ActionLink("Chi tiết", "Chitiet", new { id = item.idtour })
                @*   @Html.ActionLink("Edit", "Edit", new { id=item.nguoidi_id }) |
        @Html.ActionLink("Details", "Details", new { id=item.nguoidi_id }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.nguoidi_id })*@
               
            </td>
        </tr>
            i = i +  1;
        }
        }

    </table>
