@model projecttour.Models.tour_diadiem

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card w-100">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 text-danger text-uppercase">
                    <strong>Thêm địa điểm</strong>
                </div>

                <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-sm btn-success" data-toggle="tooltip" title="Lưu">
                        <span class="fa fa-edit"></span>
                    </button>
                    <a href="@Url.Action("Index")" class="btn btn-sm btn-danger" data-toggle="tooltip" title="Thoát">
                        <span class="fa fa-reply"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-block p-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Thành phố</label>
                        @Html.EditorFor(model => model.dd_thanhpho, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dd_thanhpho, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Tên địa điểm</label>
                        @Html.EditorFor(model => model.dd_ten, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dd_ten, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Mô tả</label>
                        @Html.EditorFor(model => model.dd_mota, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dd_mota, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>


}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
