@model IEnumerable<projecttour.Models.tour_diadiem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dd_thanhpho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dd_ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dd_mota)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dd_thanhpho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dd_ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dd_mota)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.dd_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.dd_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.dd_id })
        </td>
    </tr>
}

</table>
